<div class="container-fluid">
    <div class="row">
    <div class="col-md-3 mt-5">
      <ul class="list-group text-center w-100">
            <li class="list-group-item">
              <a  routerLink="/ipos"><b>IPOS</b></a>
            </li>
            <li class="list-group-item">
              <a  routerLink="/profile"><b>UserProfile</b></a>
            </li>
            <li class="list-group-item">
              <a  routerLink="/compare-sector"><b>Compare Company</b></a>
            </li>
              <li class="list-group-item">
                <a  routerLink="/compare-sector"><b>Compare Sector</b></a>
              </li>
              <li class="list-group-item">
                <a  routerLink="/companieslist"><b>Company List</b></a>
              </li>
            </ul>
    </div>
    <div class="col-9 mt-5">
<h3 class="text-center mt-5">List Of IPOS</h3>
        <div class="table-responsive">
          <table  class="table table-bordered mt-5">
    <tr>
        <th>Company name</th>
        <th>Listed in Stock Exchange</th>
        <th>Price per Share</th>
        <th>Total number of Shares</th>
        <th>Open Date</th>
        <th>Remarks</th>
    </tr>
    <tr *ngFor="let ipo of ipos">
        <td>{{ipo.companyname}}</td>
        <td>{{ipo.lse}}</td>
        <td>{{ipo.pps}}</td>
        <td>{{ipo.tnos}}</td>
        <td>{{ipo.odate}}</td>
        <td>{{ipo.remarks}}</td>
    </tr>
</table>
</div>
<div class="text-center mt-5"> 
    <button type="submit" class="btn btn-secondary" routerLink="/user-home-page">Back</button>
</div>