<div class="container text-center">
    <h2 class="text-center text-dark">User Landing Page </h2><br></div>
   <div class="list-group w-25">
     <a  routerLink="/ipos" class="list-group-item">
       <h4 class="list-group-item-heading">IPOS</h4>
     </a>
     <a  routerLink="/compare-company" class="list-group-item">
       <h4 class="list-group-item-heading">CompareCompany</h4>
     </a>
     <a  routerLink="/compare-sector"  class="list-group-item">
       <h4 class="list-group-item-heading">CompareSector</h4>
     </a>
     <a routerLink="/view-company" class="list-group-item">
       <h4 class="list-group-item-heading">ViewCompany</h4>
     </a>
     <a routerLink="/home" class="list-group-item">
      <h4 class="list-group-item-heading">Logout</h4>
    </a>
   </div>
<router-outlet></router-outlet>