<div class="container mt-5">
  <h3 class="text-center">IPO</h3>
  <div class="card card-body bg-white h-100 w-75 mt-5">
    <form [formGroup]="ipofm" (ngSubmit)="addIpo()">
      <h5 class="test-center">Please Fill Form</h5>
    <div class="form-group">
    <label for="id" ><b class="text-primary">Id</b></label>
    <input type="text"
    class="form-control"
     formcontrolName="id" 
     placeholder="Enter Id" 
     name="id" required>
    </div>
     <div class="form-group">
        <label for="cname"><b class="text-primary">CompanyName</b></label>
        <input type="text" 
        class="form-control"
        formcontrolName="cname"  
        placeholder="Enter Company Name"
         name="cname" required>
      </div>
     
    <div class="form-group">
        <label for="price"><b class="text-primary">PricePerShare</b></label>
        <input type="text" 
        class="form-control" 
        formcontrolName="price" 
        placeholder="Enter PricePershare" 
        name="price" required>
      </div>
      
      <div class="form-group">
        <label for="remarks"><b class="text-primary">Remarks</b></label>
        <input type="text"
        class="form-control" 
         formcontrolName="remarks" 
        placeholder="Enter Remarks" 
        name="remarks" required>
      </div>

      <div class="form-group">
        <label for="se"><b class="text-primary">StockExchange</b></label>
        <input type="text"  
        class="form-control" 
        formcontrolName="se"
        placeholder="Enter StockExchange"
         name="se" required>
      </div>
    <div class="form-group">
        <label for="tshares" ><b class="text-primary">TotalShares</b></label>
        <input type="text" 
        class="form-control"
        formcontrolName="tshares" 
         placeholder="Enter Total Shares"
          name="tshares" required>
    </div>
      <button type="submit"  class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-danger">Cancel</button>
    </form>
    </div>
    </div>

