<div class="container text-center mt-5">
    <h2 class="text-center text-dark">User Landing Page </h2>
    <div class="card-columns  mt-5">
      <div class="card  card-body bg-secondary text-center">
         <a  routerLink="/ipos">IPOS</a>
     </div>
     <div class="card  card-body bg-secondary text-center">
        <a  routerLink="/compare-company">CompareCompany</a>
     </div> 
     <div class="card  card-body bg-secondary text-center">
       <a  routerLink="/compare-sector">CompareSector</a>
      </div>
      <div class="card  card-body bg-secondary text-center">
      <a routerLink="/home">Logout</a>
   </div>
   </div>
   </div>
<router-outlet></router-outlet>