<div class="container mt-5">
  <h3 class="text-center">Create New Company</h3>
  <div class="card card-body mt-5 w-75 h-100 bg-light" >
  <form [formGroup]="company" (ngSubmit)="updateCompany()">
    <h5 class="text-center">Please Fill Form</h5>
    <div class="form-group">
      <label for="id" ><b class="text-primary">ID</b></label><br>
      <input type="text"
       class="form-control" 
       formControlName="id"
       placeholder="Enter CompanyName" 
        name="id" required>
    </div>
    <div class="form-group">
      <label for="bdec"><b class="text-primary">BreifDescription</b></label>
      <textarea class="form-control" 
      formControlName="bdec"
       placeholder="Enter BreifDescription about company" 
       name="bdec" required></textarea>
    </div>
    <div class="form-group">
      <label for="bms"><b class="text-primary">BoardMembers</b></label>
      <input type="text" 
      class="form-control"
      formControlName="bms"
       placeholder="Enter BoardMembers"  
      name="bms" required>
    </div>
    <div class="form-group">
      <label for="ceo" ><b class="text-primary">CEOName</b></label>
      <input type="text" 
      class="form-control"
      formControlName="ceo"
       placeholder="Enter CEOName and CompanyName"  
      name="ceo" required>
    </div>
    <div class="form-group">
      <label for="cname"><b class="text-primary">CompanyName</b></label><br>
      <input type="text"
       class="form-control" 
       formControlName="cname"
       placeholder="Enter CompanyName" 
       name="cname" required>
    </div>
    <div class="form-group">
      <label for="se" ><b class="text-primary">SE</b></label>
      <input type="text" class="form-control" 
      formControlName="se"
       placeholder="Select StockExchange" 
      name="se" required>
    </div>
    <div class="form-group">
      <label for="tover"><b class="text-primary">TurnOver</b></label>
      <input type="text" 
      class="form-control" 
      formControlName="tover"
       placeholder="Enter TurnOver" 
      name="tover" required>
    </div>
    
    <button type="submit" class="btn btn-success" >Submit</button>
  </form>
</div></div>