<br><br><div class="container mt-20">
<table  class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Repeat Password</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.psw}}</td>
        <td>{{user.rpsw}}</td>
        <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
        <button class="btn btn-success" (click)="updateUser(user)">Update</button></td>
    </tr>
</table>
</div>