<div class="container mt-5">
  <h2 class="text-center text-dark">Admin Landing Page </h2>
    <div class="card-columns mt-5">
        <div class="card card-responsive">
        <div class="card-body text-center">
          <a  routerLink="/users"><b>UserDeatails</b></a>
        </div>
        </div>
        <!-- <div class="card card-responsive">
          <div class="card-body text-center">
            <a  routerLink="/create-new-company"><b>CreateNewCompany</b></a>
          </div>
        </div> -->
        <div class="card card-responsive">
          <div class="card-body text-center">
            <a  routerLink="/managecompany"><b>ManageCompany</b></a>
          </div>
        </div>
        <!-- <div class="card card-responsive">    
          <div class="card-body text-center">
            <a routerLink="/stockexchange"><b>StockExchange</b></a>
          </div>
        </div>   -->
        <div class="card card-responsive">
          <div class="card-body text-center">
            <a routerLink="/manageexchange"><b>ManageStockExchange</b></a>
          </div>
        </div>
        <div class="card card-center card-responsive">
          <div class="card-body text-center">
            <a routerLink="/import-dta"><b>Import Data</b></a>
          </div>
        </div>
        <div class="card card-center card-responsive">
          <div class="card-body text-center">
            <a routerLink="/updateipodetails"><b>Update IPOS Details</b></a>
          </div>
        </div>
          <!-- <div class="card card-responsive">
            <div class="card-body text-center">
              <a routerLink="/logout"><b>Logout</b></a>
            </div>
        </div> -->
        </div>
        </div>
 <router-outlet></router-outlet>