 <!-- <html>
<head>
<title>Admin Home Page</title>
</head>
<body>
<h1>Admin Home Page<h1><br>
<button href='#'>Logout</button><br>
<div class="container">
 <nav class="navbar navbar-expand bg-primary navbar-dark"> 
               <ul class="navbar-nav" >
                   <li class="nav-item active">
                    <a href="admin-home">Home</a>
                <li class="nav-item active">
                 <a href="import-dta">ImportData</a> 
                 </li>
                 <li class="navbar-nav">
                    <a class="nav-link" href="managecompany">ManageCompany</a>
                </li>
              <li class="nav-item-control">
                 <a href="manageexchange">ManageExchange</a>
              </li>
              <li class="nav-item active">
                <a href="updateipodetails">UpdateIPODetails</a>
             </li>
</nav>
 </div>
 <router-outlet></router-outlet>
</body>
</html> -->