    <div class="container mt-5">
        <h1 class="text-center">Home Page</h1>
      </div>
      <div class="row mt-5">
        <div class="col-md-4">
        </div>
        <div class="card ml-5 card-responsive w-25 h-25 bg-light">
          <div class="card-body">
          <a class="btn btn-info btn-lg btn-block my-5 " [routerLink]="['/login']">
            <i class="fa fa-sign-in-alt" aria-hidden="true"></i>Login</a>
          <button class="btn btn-info btn-lg btn-block my-5" [routerLink]="['/register']">
            <i class="fa fa-sign-in-alt" aria-hidden="true"></i>Register</button>
        </div>
      </div>
    </div>