
<div class="nav">
    <nav class="navbar navbar-expand-md navbar-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" 
  data-toggle="collapse" data-target="#collapsibleNavbar">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <a class="navbar-brand" href="#">
            <img src="../assets/logo.jpg" class="rounded-circle" alt="logo" 
            style="width:70px;">
          </a> 
        <h2 class="text-success">Stock Market Charting</h2>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i>
              <b class="text-primary">Home</b></a><br>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/contact-us"><i class="fa fa-phone" aria-hidden="true"></i>
              <b class="text-primary">Contact Us</b></a><br>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="/logout" *ngIf="userLoggedIn">
                <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
                <b class="text-primary">Logout</b></a><br>
              </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div style="min-height: 155vh;">
        <router-outlet></router-outlet>
      </div>
    </div>
    <footer id="footer">
      <div class="copyright">
        <h6> @Copyright<strong class="text-success">Stock Market Charting</strong>. All Rights Reserved</h6>
      </div>
    </footer>
  </div>