<div class="container text-center mt-5">
    <h2 class="text-center text-dark">User Landing Page </h2>
    <div class="card-columns  mt-5">
      <div class="card  card-responsive card-body  text-center">
         <a  routerLink="/ipos"><b>IPOS</b></a>
     </div>
     <div class="card  card-responsive card-body  text-center">
        <a  routerLink="/compare-company"><b>Compare Company</b></a>
     </div> 
     <div class="card  card-responsive card-body  text-center">
       <a  routerLink="/profile"><b>UserProfile</b></a>
      </div>
      <div class="card  card-responsive card-body  text-center">
         <a  routerLink="/companieslist"><b>Companies List</b></a>
      </div> 
      <div class="card card-responsive card-body text-center">
         <a  routerLink="/viewipos"><b>IPOS List</b></a>
        </div>
        <div class="card  card-responsive card-body  text-center">
         <a  routerLink="/compare-sector"><b>Compare Sector</b></a>
        </div>
      <!-- <div class="card  card-body  text-center">
      <a routerLink="/logout"><b>Logout</b></a> -->
   </div>
</div>
<router-outlet></router-outlet>