   <div class="container text-center">
      <h2 class="text-center text-dark">Admin Landing Page </h2><br></div>
     <div class="list-group w-25">
       <a  routerLink="/import-dta" class="list-group-item">
         <h4 class="list-group-item-heading">ImportData</h4>
       </a>
       <a  routerLink="/create-new-company" class="list-group-item">
         <h4 class="list-group-item-heading">CreateNewCompany</h4>
       </a>
       <a  routerLink="/managecompany"  class="list-group-item">
         <h4 class="list-group-item-heading">ManageCompany</h4>
       </a>
       <a routerLink="/manageexchange" class="list-group-item">
         <h4 class="list-group-item-heading">ManageExchange</h4>
       </a>
       <a routerLink="/updateipodetails" class="list-group-item">
         <h4 class="list-group-item-heading">UpdateIPODetails</h4>
       </a>
       <a routerLink="/home" class="list-group-item">
        <h4 class="list-group-item-heading">Logout</h4>
      </a>
     </div>
 <router-outlet></router-outlet>