<div class="container text-center"><br><br>
  <h2 class="text-center text-dark">Admin Landing Page </h2><br><br>
    <div class="card-columns h-200">
        <div class="card h-200 bg-secondary">
          <div class="card-body text-center">
            <a  routerLink="/import-dta">ImportData</a>
          </div>
        </div>
        <div class="card bg-secondary">
          <div class="card-body text-center">
            <a  routerLink="/create-new-company">CreateNewCompany</a>
          </div>
        </div>
        <div class="card bg-secondary">
          <div class="card-body text-center">
            <a  routerLink="/managecompany">ManageCompany</a>
          </div>
        </div>
        <div class="card bg-secondary">
          <div class="card-body text-center">
            <a routerLink="/manageexchange"> ManageExchange </a>
          </div>
        </div>  
        <div class="card bg-secondary">
          <div class="card-body text-center">
            <a routerLink="/updateipodetails">UpdateIPODetails</a>
          </div>
        </div>
        <div class="card bg-secondary">
          <div class="card-body text-center">
            <a routerLink="/home">Logout</a>
          </div>
        </div>
        </div>
        </div>
 <router-outlet></router-outlet>